<h2 mat-dialog-title>Select questions</h2>
<div mat-dialog-content>

  <!-- SEARCH -->
  <form class="m-x--4" (submit)="$event.preventDefault()">
    <mat-form-field class="m-x-4" appearance="outline">
      <input id="search"
             matInput
             [(ngModel)]="query.search"
             name="search"
             (keyup)="onKeyUp()"
             placeholder="Search">
    </mat-form-field>

    <button id="reset-button" class="m-x-4"
            mat-raised-button type="submit"
            color="warn" (click)="reset()">
      <mat-icon>restart_alt</mat-icon>
      Reset
    </button>
  </form>

  <!-- TABLE -->
  <mtx-grid [data]="list"
            [columns]="columns"
            [length]="total"
            [loading]="isLoading"
            [multiSelectable]="true"
            [rowSelectable]="true"
            [rowStriped]="true"
            (rowSelectedChange)="changeSelectedRows($event)"
            [pageOnFront]="false"
            [pageIndex]="query.page"
            [pageSize]="query.size"
            [pageSizeOptions]="[1,5,10,20]"
            [sortActive]="'id'"
            [sortOnFront]="false"
            (sortChange)="changeSort($event)"
            (page)="getNextPage($event)">
  </mtx-grid>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onSubmit()" cdkFocusInitial>Close</button>
  <button mat-raised-button (click)="onSubmit()" [disabled]="!selected.length" color="primary">Ok</button>
</div>
