<h2 id="change-password-title" mat-dialog-title>Change password</h2>

<form class="form-field-full m-t-12" [formGroup]="passwordForm" (ngSubmit)="submit()">
  <mat-dialog-content style="min-width: 380px;">

    <mat-form-field appearance="outline">
      <mat-label>
        {{ 'password' | translate }}
      </mat-label>
      <input id="password"
             matInput type="password"
             formControlName="password" required>
      <mat-error *ngIf="password.invalid">{{ password | validationMessage }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="m-t-16">
      <mat-label>
        Confirm password
      </mat-label>
      <input id="confirm-password"
             matInput type="password"
             formControlName="confirmPassword" required>
      <mat-error *ngIf="confirmPassword.invalid">{{ confirmPassword | validationMessage : 'password' }}</mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button id="password-close-button"
            mat-raised-button mat-dialog-close>
      Close
    </button>

    <button id="password-submit-button"
            mat-raised-button color="primary" [mat-dialog-close]="true"
            type="submit" [disabled]="!!passwordForm.invalid" [loading]="isSubmitting">
      Submit
    </button>
  </mat-dialog-actions>
</form>
